<% include ./partials/header %>

<!-- Page Header -->
<header class="masthead"
  style="background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-18339.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">

  <% foundBlogs.forEach( (blog) => { %>
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <img class="img-thumbnail" src="<%=blog.comImage%>" alt="blog images">
      </div>
      <div class="col-lg-7 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/blogs/<%=blog._id%>">
            <h2 class="post-title">
              <%= blog.title %>
            </h2>
            <h3 class="post-subtitle">
              <%= blog.comSentence %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"><%=blog.author%></a>

            <%= blog.date %></p>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <%if(currentUser){%>
          <button type="button" id="editBlog" onclick="actionPost(this.id, '<%= blog._id %>')" class="btn btn-outline-primary" style="width: 150px">Edit</button>
          <button type="button" id="deleteBlog" onclick="actionPost(this.id, '<%= blog._id %>')" class="btn btn-outline-danger" style="width: 150px">Delete</button>
        <%}%>
      </div>
    </div>
    <hr>
  <% }); %>
  <!-- Pager -->
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
  </div>
</div>

<hr>

<script>
  function actionPost(clickedID, blogId){
    if(clickedID == "editBlog"){
      window.location.href = "/editBlog/"+blogId; return false;
    } else if (clickedID == "deleteBlog"){
      window.location.href = "/deleteBlog/"+blogId; return false;
    }
  };
</script>

<% include ./partials/footer %>