<% include ../partials/header2 %>

<script>
    $(document).ready(function(){

        $("#myButton").click(function(){
            var contactImage       = $("#contactImage").val();
            var contactText        = CKEDITOR.instances.myTextArea.getData();
            var author           = $("#author").val();
            var comSentence      = $("#comSentence").val();
            var contactTitle      = $("#contactTitle").val();

            if(contactImage == ""){
                contactImage = "https://picsum.photos/1920/1080/?random";
            }

            var data = {
                contactTitle : contactTitle,
                contactImage : contactImage,
                contactText : contactText,
                author : author,
                comSentence : comSentence
            }

            $.post("editContact", {data:data})
                .then(function(addedAbout){
                    console.log(addedAbout);
                });
        });
    });
</script>


<div class="container">
    <h2 style="text-align:center; margin-bottom:10px;">Edit Contact</h2>
    <form action="/home" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="blogTitle">Contact Title</label>
            <input type="text" class="form-control" id="contactTitle" placeholder="Contact Title" value="<%=foundContact.contactTitle%>" required>
            <div class="invalid-feedback"> Don't Be Invalid </div>
            <div class="valid-feedback"> Looks good! </div>
        </div>
        <div class="form-group">
            <label for="aboutImage">Contact Page Image URL</label>
            <input type="text" class="form-control" id="contactImage" placeholder="Contact Page Image URL" value="<%=foundContact.contactImage%>">
        </div>
        <div class="form-group">
            <label for="comSentence">Contact Commercial Sentence</label>
            <input type="text" class="form-control" id="comSentence" placeholder="Contact Commercial Sentence" value="<%=foundContact.comSentence%>" required>
            <div class="invalid-feedback"> Don't Be Invalid </div>
            <div class="valid-feedback"> Looks good! </div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input class="form-control" type="text" id="author" placeholder="Readonly input here…" value="<%= currentUser.username %>" readonly>
        </div>
        <textarea name="editor" id="myTextArea"><%=foundContact.aboutText%></textarea>
        <div class="invalid-feedback"> Don't Be Invalid </div>
        <div class="valid-feedback"> Looks good! </div>
        <button id="myButton" class="btn btn-primary">Submit</button>
    </form>
</div>

    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>

<% include ../partials/footer %>